{{ define "header"}}
<header class="header">
    <div class="header-content">
        <a href="/" class="logo">  
            
            <div class="logo-text">
                
                 <div class="logo-text">
                    <div class="logo-title">Literary Lions</div>
                    <div class="logo-subtitle">BOOK CLUB FORUM</div>
                </div>
            </div>
        </a>  
        <div>
            {{ template "search" . }}
        </div>      
        

        <!-- Navigation --> 
         <nav class="nav-links"> 
            
        {{ if .User }}

        <details class="user-menu">

        <summary class="user-menu-button">

            {{ if .User.ProfilePicture }}
                <img
                    src="{{ .User.ProfilePicture }}"
                    alt="{{ .User.UserName }}"
                    class="user-avatar"
                >
            {{ else }}
                <span class="user-avatar default-avatar">👤</span>
            {{ end }}

            <span class="user-name">
                {{ .User.UserName }}
            </span>

            <span class="dropdown-arrow">⌄</span>

        </summary>

        <div class="user-dropdown">

            <a href="/users/{{ .User.ID }}" class="dropdown-item">
                My Profile
            </a>

            <div class="dropdown-divider"></div>

            <a href="/logout" class="dropdown-item signout-item">
                Sign Out
            </a>

        </div>

    </details>

        {{ else }}

<button
    type="button"
    class="nav-button"
    onclick="openModal('login-modal')"
>
    Sign In
</button>

{{ end }}


        </nav>
    </div>
</header>
{{ template "login-modal" . }}

{{end}}