{{ define "header"}}
<header class="header">
    <div class="header-content">
        <a href="/" class="logo">  
            <div class="lion-logo">
                🦁 
            </div>
            <div class="logo-text">
                
                 <div class="logo-text">
                    <div class="logo-title">Literary Lions</div>
                    <div class="logo-subtitle">BOOK CLUB FORUM</div>
                </div>
            </div>
        </a>        
        
        <nav class="nav-links">

            
            {{ if .User }}
            <!-- User loged In -->
           <div>
                <button type="button" class="nav-button" onclick="openModal('writePost-modal')">Write Post</button>
            </div>
            
            <div>
                <button class="nav-button">
                    <a href="/users/{{ .User.ID }}" id="user-link" >
                        User
                    </a>
                </button>
            </div>
            
            <div>
                <button type="button" class="nav-button" >
                    <a href="/logout" id="user-link" >
                        Sign Out
                    </a>
                </button>
            </div>
            {{ else }}
            
            <!-- No User loged In -->
             <div>
                <button type="button" class="nav-button" onclick="openModal('login-modal')">Sign In</button>
            </div>
            
            {{ end }}
           
        </nav>
    </div>
</header>
{{ template "login-modal" . }}
{{ template "writePost-modal" . }}
{{end}}